<log4net>
  <!--错误日志配置-->
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\LogError\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaxFileSize" value="10240" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Date" />
    <param name="Threshold" value="ERROR" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
    </layout>
  </appender>

  <!--信息日志配置-->
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\LogInfo\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxFileSize" value="10240" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n日志时间：%d [%t] 操作人:%property{UserID} 日志级别：%-5p %n日 志 类：%c [%x] %n%m %n" />
    </layout>
  </appender>
  <appender name="DbLogAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log\\DbLog\\" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="100" />
    <param name="MaxFileSize" value="10240" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Date" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d|%m%n" />
    </layout>
  </appender>

  <!--<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">-->
  <appender name="AdoNetAppender" type="Yamon.Framework.Log4Net.Log4NetConnectionStringNameAdoNetAppender">
    <bufferSize value="0" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    <connectionStringName value="UCenter"></connectionStringName>
    <!--<connectionString value="Data Source=wizchinabook;Initial Catalog=Yamon_UCenter3;Persist Security Info=True;User ID=sa;Password=sa" />-->
    <!--<connectionType value="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.65.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <connectionString value="Data Source=|DataDirectory|log.s3db;Version=3;" />-->
    <commandText value="INSERT INTO UC_Log([LogTime],[Message],[LogType],[UserIP],[ModelID],[LogKey],[UserID]) VALUES (@log_date,@message,@logType,@UserIP,@ModelID,@LogKey,@UserID)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>

    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="Yamon.Framework.Log4Net.ReflectionLayout">
        <conversionPattern value="%property{Message}" />
      </layout>
    </parameter>

    <parameter>
      <parameterName value="@logType" />
      <dbType value="String" />
      <size value="255" />
      <layout type="Yamon.Framework.Log4Net.ReflectionLayout">
        <conversionPattern value="%property{LogType}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserIP" />
      <dbType value="String" />
      <size value="50" />
      <layout type="Yamon.Framework.Log4Net.ReflectionLayout">
        <conversionPattern value="%property{UserIP}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ModelID" />
      <dbType value="String" />
      <size value="255" />
      <layout type="Yamon.Framework.Log4Net.ReflectionLayout">
        <conversionPattern value="%property{ModelID}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@LogKey" />
      <dbType value="String" />
      <size value="255" />
      <layout type="Yamon.Framework.Log4Net.ReflectionLayout">
        <conversionPattern value="%property{LogKey}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@UserID" />
      <dbType value="String" />
      <size value="50" />
      <layout type="Yamon.Framework.Log4Net.ReflectionLayout">
        <conversionPattern value="%property{UserID}" />
      </layout>
    </parameter>

  </appender>
  <!--控制台-->
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
    </layout>
  </appender>
  <!--邮件-->
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <authentication value="Basic" />
    <to value="zongeasy@qq.com" />
    <from value="linlei518@163.com" />
    <username value="linlei518" />
    <password value="778899" />
    <subject value="test logging message" />
    <smtpHost value="smtp.163.com" />
    <bufferSize value="10" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="ERROR"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
  </appender>
  <logger name="SystemLog">
    <level value="ALL" />
    <appender-ref ref="InfoAppender" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <logger name="DbLog">
    <level value="ALL" />
    <appender-ref ref="DbLogAppender" />
  </logger>
  <!--<logger name="UserLog">
    <level value="ALL" />
    <appender-ref ref="AdoNetAppender" />
    <appender-ref ref="ErrorAppender" />
  </logger>-->
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="AdoNetAppender" />
    <appender-ref ref="ErrorAppender" />
    <appender-ref ref="InfoAppender" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="SmtpAppender" />-->
  </root>
</log4net>

