* {
    font-size: 12px;
    font-family: Tahoma,Verdana,微软雅黑,新宋体;
}

html {
    overflow-y: hidden;
    height: 100%;
}

body {
    background: #D2E0F2;
}

image {
    border: 0px;
}

a {
    color: Black;
    text-decoration: none;
}

    a:hover {
        color: Red;
        text-decoration: underline;
    }

.footer {
    text-align: center;
    color: #15428B;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    font-weight: bold;
}

.easyui-accordion ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

    .easyui-accordion ul li {
        padding: 0px;
    }

        .easyui-accordion ul li a {
            line-height: 24px;
        }

        .easyui-accordion ul li div {
            margin: 2px 0px;
            padding-left: 10px;
            padding-top: 2px;
        }

            .easyui-accordion ul li div.hover {
                border: 1px dashed #99BBE8;
                background: #E0ECFF;
                cursor: pointer;
            }

                .easyui-accordion ul li div.hover a {
                    color: #416AA3;
                }

            .easyui-accordion ul li div.selected {
                border: 1px solid #99BBE8;
                background: #E0ECFF;
                cursor: default;
            }

                .easyui-accordion ul li div.selected a {
                    color: #416AA3;
                    font-weight: bold;
                }


#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: white;
}

#loading {
    position: absolute;
    left: 45%;
    top: 40%;
    padding: 2px;
    z-index: 20001;
    height: auto;
}

    #loading a {
        color: #225588;
    }

    #loading .loading-indicator {
        background: white;
        color: #444;
        font: bold 13px tahoma,arial,helvetica;
        padding: 10px;
        margin: 0;
        height: auto;
    }

#loading-msg {
    font: normal 10px arial,tahoma,sans-serif;
}

#index_top {
    height: 74px;
    background: url('../images/index/index_topbg.jpg') #5B80B4 repeat-x center 50%;
    overflow: hidden;
    font-family: Verdana, 微软雅黑,黑体;
}

#index_logo {
    float: left;
    background-image: url('../images/index/index_top1.jpg');
    width: 350px;
    height: 74px;
}

#index_top2 {
    float: left;
    background: url('../images/index/index_top2.jpg') no-repeat 350px;
    width: 100%;
    height: 74px;
}

#index_top_right {
    float: right;
    background-image: url('../images/index/index_top_right.jpg');
    width: 4px;
    height: 74px;
}

#index_top_info {
    float: right;
    width: auto;
    height: 31px;
    padding-right: 10px;
    background-image: url('../images/index/index_top_info_bg.jpg');
    line-height: 20px;
}

    #index_top_info div {
        float: left;
        padding-right: 3px;
        line-height: 28px;
        height: 31px;
    }

.index_top_info_left {
    float: left;
    background: url('../images/index/index_top_info_left.jpg') no-repeat;
    width: 55px;
    height: 31px;
}

.index_top_info_split {
    float: left;
    background: url('../images/index/index_top_info_split.jpg') no-repeat;
    width: 2px;
    height: 31px;
}

#home {
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

.home_column {
    float: left;
    width: 49%;
    padding: 5px;
    background: #fafafa;
}


.top_icon {
    float: left;
    margin: 2px;
    width: 17px;
    background-image: url(../images/index/admin_icon.gif);
    background-repeat: no-repeat;
    *display: inline-block;
}

.top_icon_user {
    background-position: -10px -4px;
    height: 20px;
    width: 17px;
}

.top_icon_skin {
    background-position: -38px -4px;
    height: 20px;
    width: 17px;
}

.top_icon_skin_blue {
    background-position: -60px -4px;
    height: 20px;
    width: 17px;
    cursor: pointer;
}

.top_icon_skin_gray {
    background-position: -80px -4px;
    height: 20px;
    width: 17px;
    cursor: pointer;
}

.top_icon_skin_blue_selected {
    background-position: -60px -21px;
    height: 20px;
    width: 17px;
    cursor: pointer;
}

.top_icon_skin_gray_selected {
    background-position: -80px -21px;
    height: 20px;
    width: 17px;
    cursor: pointer;
}

.head span, .head a {
    padding-right: 10px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 10px;
    background: #eee;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.panel-body-noborder {
    overflow: hidden;
}