<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="txtImageLength" value="200px" />
  <Header name="radioImageUpLoad" value="1" />
  <Header name="txtImageType" value="jpg|gif|bmp|png" />
  <Header name="txtImageSavePath" value="UploadFiles/MemberAttachment" />
  <Header name="dropImageType" value="${Random}" />
  <Header name="txtImageFileLength" value="20480" />
  <Header name="radioImageSystem" value="0" />
  <Header name="radioImageSY" value="0" />
  <Header name="radioImageSL" value="0" />
</MyNameValueCollection>