<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="DocDataSqlPath" value="DocBackFile"></add>
    <add key="ImgDataSqlPath" value="PicBackFile"></add>
    <add key="DocHistoryPath" value="D:\SMB\DocBackFile"></add>
    <add key="TxtHistoryPath" value="D:\SMB\TxtFileBack"></add>
    <add key="ImgHistoryPath" value="D:\SMB\PicBackFile"></add>
    <add key="SourceFileDirectory" value="D:\SMB\yszx"/>
    <add key="TempSourceFileDirectory" value="D:\SMB\TempSourceFile"/>
    <add key="OfficeToSWF_MonitorPath" value="D:\SMB\DocBackFile"/>

    <!--同步松江自动站数据库-->
    <add key="StationID" value="58367"/>
    <!--58367 徐家汇 /58366 崇明 /58365 嘉定区  -->
    <add key="RunCompressImageID" value="14,55"/>
    <add key="IsMonitorLost" value="0"/>
    <add key="IsMonitorFile" value="0"/>
    <add key="Warning_FileRoot" value="http://10.228.8.164/WebSite/PartitionWarningWeb/ftp/"/>
    <add key="Warning_SavePath" value="D:\SMB\Warning"/>

    <add key="NewAutoStationType" value="1"/>
    <add key="Monitor_ServerID" value="1"/>
    <add key="Monitor_MonitorServerID" value="1"/>

    <add key="Monitor_SiteUrl" value="http://localhost:44575"/>
    <!--调用模板-->

    <add key="WebApiUrl" value="http://bswx.yamon.cn/"/>
    <add key="WebApiUrlListMin_10" value="/api/Weather/WeatherData/GetAQI|/api/Weather/WeatherData/TenDayForecastList"/>
    <add key="WebApiUrlListMin_1" value="/api/Weather/Cimiss/GetStationDataNowByStaIds"/>
    
  </appSettings>
  <connectionStrings>

    <!--BaoShan-->
    <add name="UCenter" connectionString="server=192.168.10.98\R2,14330;uid=sa;pwd=1qaz2wsx;database=WeatherCloud" providerName="SqlServer" />
    
    <add name="WeatherData" connectionString="server=192.168.10.98\R2,14330;uid=sa;pwd=1qaz2wsx;database=WeatherCloud" providerName="SqlServer" />
    <!--<add name="WeatherService" connectionString="server=192.168.10.98;uid=sa;pwd=1qaz2wsx;database=YZ_WeatherService" providerName="SqlServer"/>-->
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
