<?xml version="1.0" encoding="utf-16"?>
<MyNameValueCollection>
  <Header name="txtImageLength" value="200px" />
  <Header name="radioImageUpLoad" value="1" />
  <Header name="txtImageType" value="png|jpg|bmp|gif" />
  <Header name="txtImageSavePath" value="UploadFiles/UserPhoto" />
  <Header name="dropImageType" value="${Year}${Month}${Day}${Hour}${Minute}${Second}" />
  <Header name="txtImageFileLength" value="2048" />
  <Header name="radioImageSystem" value="0" />
  <Header name="radioImageSY" value="0" />
  <Header name="radioImageSL" value="0" />
</MyNameValueCollection>