<div style="text-align:center;" id="title">
    <h4 style="color:#fff;font-size:1.8rem;padding:3px;" >导航</h4>
    <a href="/Home/homepage"><span style="" class="shik">&#xe608</span></a>
    <a class="right-icon iconfont1" id="index1-icon" href="/Home/Index1">&#xe603</a>
    <a class="right-icon iconfont" id="index2-icon" href="/Home/Index2?IndexType=2" style="display:none;">&#xe600</a>

</div>