@{
    ViewBag.Title = "雷达卫星";
    Layout = "ShowLayout.cshtml";
}
<div class="show_content">
    <span id="show_time" class="show_time">2016年11月02日23点30分</span>

    <div class="show_map">
        <img src="" id="imgshow" alt="暂无图片" />
        <pre style="display:none;" id="input_hidden"></pre>
    </div>
    <div class="show_btns">
        <span id="previousbutton" class="iconfont icon-prev"></span>
        <span id="nextbutton" class="iconfont icon-next"></span>
    </div>

    <div id="Subscribe" class="Subscribe">
        <!--ko ifnot: issubscribe-->
        <span data-bind="click:addSubscribeNode">立即收藏</span>
        <!--/ko-->
        <span data-bind="visible:issubscribe,click:removeSubscribeNode">取消收藏</span>
    </div>
</div>
<style type="text/css">
    pre{
white-space: pre-wrap;       
white-space: -moz-pre-wrap;  
white-space: -pre-wrap;      
white-space: -o-pre-wrap;    
word-wrap: break-word;     
 text-align: left;  
}
</style>
