
<div style="background-color: #ffffff;  " id="stationPMdiv">
    <div style="width:100%; height:1px;"></div>
    <table class="navs" cellpadding="0" cellspacing="0" id="tablediv">
        <tr data-bind='foreach: lines3' class="line">
            <td class="selecttabicon col-xs-1" style=" vertical-align:middle;border:2px solid #DDDDDD" align="center" name="1"><a data-bind="text:NodeName,attr:{class:NodeID }"></a></td>
        </tr>
    </table>
    <div style="width:100%;height:300px;" id="world-map"></div>
</div>


