
<div id="stationDiv" style="margin-top:-50px">
    <table cellpadding="0" cellspacing="0"  class="station-table">
        <tr>
            <td class="selecttabicon" id="station-temp" align="center" name="1"><a>气温</a></td>
            <td class="selecttabicon " id="station-rain" align="center" name="1"><a>雨量</a></td>
            <td class="selecttabicon " id="station-wind" align="center" name="1"><a>风向风速</a></td>
            <td class="selecttabicon " id="station-njd" align="center" name="1"><a>能见度</a></td>
        </tr>
    </table>
    <p  id="nolist">暂无数据</p>
    <div id="world-map"></div>
    <table class="table table-striped " id="station-tables">
        <thead>
            <tr>
                <th class="stationName">站点</th>
                <th class="station-temp">瞬时气温</th>
                <th class="station-temp">今日最低温</th>
                <th class="station-temp">今日最高温</th>
                <th class="station-wind" >1h最大风速</th>
                <th class="station-wind" >3h最大风速</th>
                <th class="station-wind" >6h最大风速</th>
                <th class="station-wind" >24h最大风速</th>
                <th class="station-rain" >1h累计雨量</th>
                <th class="station-rain" >3h累计雨量</th>
                <th class="station-rain" >6h累计雨量</th>
                <th class="station-rain" >24h累计雨量</th>
            </tr>
        </thead>
        <tbody data-bind='foreach: stationListArray' id="stationlist">
            <tr data-bind="attr: {id:station,class:rainhidden}">
                <td class="stationName" data-bind="text:stationname"></td>
                <td class="station-temp" data-bind="text:temp">瞬时气温</td>
                <td class="station-temp" data-bind="text:mintemp24">今日最低温</td>
                <td class="station-temp" data-bind="text:maxtemp24">今日最高温</td>
                <td class="station-wind" data-bind="text:windlevel" >1h最大风速</td>
                <td class="station-wind" data-bind="text:maxwindlevel2" >3h最大风速</td>
                <td class="station-wind" data-bind="text:maxwindlevel3" >6h最大风速</td>
                <td class="station-wind" data-bind="text:maxwindlevel24">24h最大风速</td>
                <td class="station-rain" data-bind="text:totalrain1" >1h累计雨量</td>
                <td class="station-rain" data-bind="text:totalrain2" >3h累计雨量</td>
                <td class="station-rain" data-bind="text:totalrain3" >6h累计雨量</td>
                <td class="station-rain" data-bind="text:totalrain24">24h累计雨量</td>
            </tr>
        </tbody>
    </table>

</div>
