@{
    ViewBag.Title = "雷达卫星";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@section styles{
    <link href="~/Static/ImgPlay/css/style.css" rel="stylesheet" />
    <style>
        .noselect {
            background-color: white;
            background: url(../../Static/ImgPlay/Images/noselect.png) repeat;
        }

        .select {
            color: #ffffff !important;
            background: url(../../Static/ImgPlay/Images/select.png) repeat;
            vertical-align: middle;
        }

            .select a {
                color: #ffffff !important;
            }

        #district {
            border-collapse: collapse;
        }

            #district td {
                height: 30px;
                line-height: 30px;
                text-align: center;
                padding: 3px;
            }

        #imgshow {
        }

        .imageinfo {
            padding: 0px;
            margin-top: 12px;
        }

            .imageinfo p {
                margin: 2px;
            }

        .headerdiv {
            height: 35px;
            background: #ffffff url('../../Static/ImgPlay/Images/head.png') repeat-x;
            font-weight: bold;
            padding: 10px 3px 5px 5px;
        }

        body {
            color: #555555;
        }
    </style>

}
@section scripts{


}

<div style="background-color: #ffffff;  ">

    <div style="width:100%; height:1px;background-color:#4b6594"></div>
    @*<table id="district" cellpadding="0" cellspacing="0" style=" height:40px;border:1px solid #fff" width="100%">
            <tr data-bind='foreach: lines3'>
                <td class="selecttabicon" style=" vertical-align:middle;border:1px solid #DDDDDD" align="center" name="1" data-bind="text:NodeName"></td>

            </tr>

        </table>*@


    <table class="navs" cellpadding="0" cellspacing="0" style=" height:30px;display:none" id="tablediv">

        <tr data-bind='foreach: lines3' class="line">
            <td class="selecttabicon col-xs-1" style=" vertical-align:middle;border:2px solid #DDDDDD" align="center" name="1"><a data-bind="text:NodeName,attr:{class:NodeID }"></a></td>



        </tr>

    </table>


    <div class="navs" style=" border:1px solid #fff;display:none" id="uldiv">
        <ul class="line" data-bind='foreach: lines3'>
            <li class="selecttabicon " style=" vertical-align:middle;border:1px solid #DDDDDD" align="center" name="1" data-bind="attr:{id:NodeID }"><a data-bind="text:NodeName,attr:{class:NodeID }"></a></li>
        </ul>
    </div>
    @*<span id="fbsj" class="fbsj">2015年06月02日23点30分</span>*@
    <div style=" padding-top:8px;text-align:center; ">
        <div>

            <img id="imgshow" alt="雷达图" border="0" onload="DrawImage(this)" style="width:100%" src="http://weixin.shmmc.cn/wxapp/MarineSource/FtpRoot/PartitionWarning/marine_yjxh_201609200908_2016293_view.png">
        </div>
        <div style="  margin-top:12px;background-color:#f4f4f4;  padding:8px;text-align:left">
            <div id="imageinfo">fadsfadfzsad</div>
        </div>
    </div>
</div>




